{% extends 'base.html' %}

{% block start %}

<div class="container card shadow-lg mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Total</th>
                <th scope="col">Date</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{order.get_cart_total}}</td>
                <td>
                    {{order.created_at}}
                </td>
                <td>
                    <ul>
                        {% for cart_item in order.cart_item.all %}
                        <li>{{ cart_item.item.item_name }} ({{ cart_item.quantity }})</li>
                        {% endfor %}
                    </ul>
                </td>
            
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>

{% endblock %}